.p {
  &-titleauto {

    &__panel {
      background-color: #f4fdf3;
      padding: $space_2l;
      margin-bottom: 1.5rem;
      @include mq(){
        padding: $space_m;
      }
    }
    &__header {
      font-size: $font-size_14px;
    }
    &__sentence {
      font-size: $font-size_22px;
      font-size: $space_s 0;
      color: $Selectarrow;
    }
    &__sentence p {
      margin: $space_s 0;
    }
    &__body {
      display: flex;
      justify-content: center;
      @include mq(){
        display: block;
      }
    }
  }
}