.l {
  &-makerpage {
    max-width: $site-width;
    margin: 0 auto;
    height: 100vh;
    padding-top: $headerHeight;
    &__outline {
      padding: $space_m;
    }
    &__select {
      display: flex;
      width: 90%;
    }
    &__leftarea,
    &__rightarea {
      width: 50%;
      padding: $space_m $space_s;
    }
    &__section {
      width: 100%;
      margin: 0 auto;
    }
    &__result {
      padding: $space_m;
      width: 100%;
    }
  }
}