.l {
  &-makerpage {
    max-width: $site-width;
    margin: 0 auto;
    height: 150vh;
    &__outline {
      padding: $space_m;
    }
    &__select {
      display: flex;
      width: 90%;
      @include mq(){
        display: block;
      }
    }
    &__leftarea,
    &__rightarea {
      width: 50%;
      padding: $space_m $space_s;
    }
    &__section {
      width: 100%;
      margin: 0 auto;
    }
    &__result {
      padding: $space_m;
      width: 100%;
      @include mq(){
        width: 90%;
      }
    }
  }
}